# Virtual environment
env_site/
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
*.log

# Local database
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Media uploads
media/